{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="container">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" id="tags">
        <script>
          $(function () {
              var availableTags = [
                  {% for requester in requesters %}
              "{{ requester }}",
              {% endfor %}
      ];
          $("#tags").autocomplete({
              source: availableTags
          });
    } );
      </script>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
